@media only screen and (min-width:370px) and (max-width:450px){

.rectangle{
    display: flex;
    height: 48px;
    padding: 2px 24px 2px 12px;
    align-items: center;
    gap: 205px;
    /*background-color: rgb(63, 73, 70);*/
}

.logo{
    display: flex;
    padding: 10px 12px;
    align-items: center;
}

.image{
    padding-top: 35%;
    padding-left: 5%;
    justify-content: flex-start;
}

.items{
    padding-top: 15%;
    padding-right: 10%;
    display: inline-flex;
    align-items: center;
    gap: 8px;
}

.f5{
    display: flex;
    padding: 10px 12px;
    align-items: center;
    gap: 10px;
}

.contact{
    color: black;
    text-align: center;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px; 
    white-space: nowrap;

}

.banner{
padding-top: 20%;
zoom: 0%;
}

.About{
    padding-top: 20%;
    padding-left: 10%;
    width: 496px;
    height: 50px;
    color: var(--theme-1-neutrals-1, #1c5ecf);
    text-align: center;
/* Header / 2 */
font-family: Poppins;
font-size: 25px;
font-style: normal;
font-weight: 700;
line-height: 30px; /* 130% */
}

.info{
    color: var(--theme-1-neutrals-1, #476cac);

}

.Org{
    padding-left: 10%;
    padding-top: 90%;
    width: 496px;
    height: 46px;
    color: var(--theme-1-neutrals-1, #091E42);
    text-align: center;
/* Header / 2 */
font-family: Poppins;
font-size: 25px;
font-style: normal;
font-weight: 700;
line-height: 20px;
}

.one{
    padding-top: 10%;
}

.img1{
    padding-left: 3%;
}

.vice{
    padding-top: 10%;
    display: flex;
    padding-left: 4%;

}

.VP{
    font-size: 22px;
}

.rank{
font-size: large;
}


.three{
    padding-left: 30%;

}

.secretaries{
    padding-top: 10%;
    padding-right: 40%;
    display: flex;
}

.sec1{
    white-space: nowrap;

    font-size: 20px;

}

.sec2{
    font-size: 20px;
    white-space: nowrap;
}
.rank{
    font-size: large;
    white-space: nowrap;

}

.others{
    padding-top: 10%;
    padding-right: 40%;
    display: flex;
}

.last{
    padding-top: 10%;

}

.links{
    position: absolute;
    bottom: 0%;

    height: 200px;
    width: 200px;
    background-color: #1c5ecf;
}


}