@media only screen and (min-width:300px) and (max-width:450px){

.rectangle{
    display: flex;
    height: 48px;
    padding: 2px 24px 2px 12px;
    align-items: center;
    gap: 205px;
    /*background-color: rgb(63, 73, 70);*/
}

.logo{
    display: flex;
    padding: 10px 12px;
    align-items: center;
}

.image{
    padding-top: 35%;
    padding-left: 5%;
    justify-content: flex-start;
}

.items{
    padding-top: 15%;
    padding-right: 10%;
    display: inline-flex;
    align-items: center;
    gap: 8px;
}

.f5{
    display: flex;
    padding: 10px 12px;
    align-items: center;
    gap: 10px;
}

.contact{
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    white-space: nowrap;
}

.banner{
padding-top: 20%;
}

.ban{
    width: 600px;
    height: 300px;
}

.About{
    padding-top: 20%;
    padding-left: 10%;
    width: 496px;
    height: 50px;
    color: var(--theme-1-neutrals-1, #113779);
    text-align: center;
/* Header / 2 */
font-family: Poppins;
font-size: 25px;
font-style: normal;
font-weight: 700;
line-height: 30px; /* 130% */
}

.info{
    color: var(--theme-1-neutrals-1, #113779);

}

.Org{
    padding-left: 10%;
    padding-top: 90%;
    width: 496px;
    height: 46px;
    color: var(--theme-1-neutrals-1, #113779);
    text-align: center;
/* Header / 2 */
font-family: Poppins;
font-size: 25px;
font-style: normal;
font-weight: 700;
line-height: 20px;
}

.one{
    
    padding-top: 10%;
}

.img1{
    padding-left: 3%;
}

.img2{
    padding-left: 10%;

}

.img3{
    padding-left: 10%;

}

.vice{
    padding-top: 10%;
    display: flex;
    padding-left: 4%;

}

.VP{
    font-size: 22px;
}

.rank{
font-size: large;
}

.three{
    padding-left: 30%;

}
.secretaries{
    padding-top: 10%;
    display: flex;
}

.sec1{
    white-space: nowrap;
    font-size: 20px;

}

.sec2{
    font-size: 20px;
    white-space: nowrap;
}
.rank{
    font-size: large;
    white-space: nowrap;

}

.others{
    padding-top: 10%;
    padding-right: 60%;
    display: flex;
}

.last{
    padding-top: 10%;

}

.links{
    padding-top: 500%;
    position: absolute;

}

.l1{

    width: 600px;
    height: 400px;
    background: #3b4a7b;
}

.Facebook{
    padding-top:5%;
    padding-left: 40%;
    justify-content: center;
}

.fb{
    color: white;
    font-size: large;
    
}


.cont{
    text-align: center;
    /* Header / 2 */
    font-family: Poppins;
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    color: white;
    padding-top: 5%;
}
.mail{
    padding-left: 10%;
}

.office{
   padding-left: 20%;
   color: white;
   font-family: Poppins;
   font-style: normal;
    line-height:  1.5;
}


}


@media only screen and (min-width:768px){

    .base{
        width: 1200px;
        height: 870px;
        flex-shrink: 0;
        /*background: #002244;*/
        background: rgb(1, 65, 1);
    }
    
    .rectangle{
        width: 1200px;
        height: 120px;
        flex-shrink: 0;
        /*background: #CCCCFF;*/
        background: #FFF;
        display: flex;
    }
    
    .logo{
        display: inline-flex;
        align-items: center;
        gap: 10px;
    }
    
    .image{
        padding-left: 30%;
        justify-content: flex-start;
    }
    
    .items{
        padding-left: 60%;
    
        display: inline-flex;
        align-items: center;
        gap: 8px;
    }
    
    .f3{
        display: flex;
        padding: 10px 12px;
        align-items: center;
        gap: 10px;
    }
    
    .f5{
        display: flex;
        padding: 10px 12px;
        align-items: center;
        gap: 10px;
    }
    
    .About{
        padding-top: 20%;
        color: var(--theme-1-neutrals-1, #113779);

        text-align: center;
        font-family: Poppins;
        font-size: 25px;
        font-style: normal;
        font-weight: 600;
        line-height: 20px; 
    }
    
    .contact{
        padding-left: 30%;
        font-family: Poppins;
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        text-wrap: nowrap;
    }

    .banner{
        padding-top:2%;
        
    }

    .ban{
        width: 1200px;
        height: 700px;

    }

    .Org{        
        padding-left: 33%;

        padding-top: 20%;
        width: 496px;
        height: 46px;
        color: var(--theme-1-neutrals-1, #113779);
        text-align: center;
    /* Header / 2 */
    font-family: Poppins;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    }
    
    .one{
        padding-top: 10%;
    }
    
    .img1{
            padding-left: 10%;

    }

    .line2{
        display: flex;
        padding-top: 10%;
        justify-content: center;

    }

    .vice{
        padding-top: 10%;
        display: flex;

    
    }
    
    .VP{
        font-size: 22px;
        white-space: nowrap;

    }

    .two{
        padding-right: 10%;
    }


    .rank{
    font-size: large;
    }
    
    .secretaries{
        padding-top: 10%;
        display: flex;
        padding-left: 10%;
    }
    
    .sec1{
        font-size: 20px;
        white-space: nowrap;

    }
    
    .sec2{
        font-size: 20px;
        white-space: nowrap;
    }


    .line3{
        padding-right: 50%;
        padding-left: 30%;
        padding-top: 10%;
        display: flex;
        justify-content: center;
    }

    .others{
        padding-top: 10%;
        padding-right: 30%;
        display: flex;
        margin: auto;
    }
    
    .last{
        padding-top: 10%;
        padding-left: 95%;

    }
    
.links{
    padding-top: 200%;
    position: absolute;

}

.l1{

    width: 1200px;
    height: 500px;
    background: #3b4a7b;
}

.Facebook{
    padding-left: 45%;
    justify-content: center;
}

.fb{
    color: white;
    font-size: large;
    
}


.cont{
    text-align: center;
    /* Header / 2 */
    font-family: Poppins;
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    color: white;
    padding-top: 3%;

}
.mail{
    padding-left: 10%;
}

.office{
   padding-left: 35%;
   color: white;
   font-family: Poppins;
   font-style: normal;
    line-height:  1.5;
}

}